@charset "utf-8";
@import "bootstrap/scss/functions";

$header-image: "../img/hero-image.jpg";
$contact-image: "../img/contact.png";

$primary: #e60e64;
$white: #fff;
$black: #000;

$spacer:1rem;
$border-width:3px;
$border-radius:0;
$enable-rounded: false;
$enable-shadows:false;
$enable-gradients:false;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/page.scss";

@import "components/buttons.scss";
@import "components/navbar";
@import "components/client-scroll.scss";

@import "layout/hero";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/team.scss";
@import "layout/testimonials.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/clients.scss";
@import "layout/textblock.scss";
@import "layout/about.scss";

body {
    overflow-x: hidden;
    // font-family: "Roboto Slab","Roboto Condensed",sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Comfortaa', cursive;
    webkit-tap-highlight-color: $primary;
}

.post {
    max-width: 750px;
    margin-top: 150px;
}
