<!-- Text-Block -->
<section class="textblock-section page-section" id="{{ site.data.sitetext.textblock.section | default: "textblock" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.textblock.title | default: "Text Text-Block" }}</h2>
        {% if site.data.sitetext.textblock.text %}
        <p class="textblock-statement">{{ site.data.sitetext.textblock.text }}</p>
        {% endif %}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-11">
        <ol class="textblock-list">
          {% for textblock in site.data.sitetext.textblock.list limit:5 %}
            <li class="textblock-item">
              <span class="textblock-icon" aria-hidden="true">
                <i class="fas {{ textblock.image | default: 'fa-check' }}"></i>
              </span>
              <span class="textblock-title">{{ textblock.title }}</span>
            </li>
          {% endfor %}
        </ol>
        {% if site.data.sitetext.textblock.footer %}
          <p class="textblock-footer">{{ site.data.sitetext.textblock.footer }}</p>
        {% endif %}
      </div>
    </div>

  </div>
</section>
<!-- End Text-Block -->
